<%= form_for(@usuario) do |f| %>
  <% if @usuario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@usuario.errors.count, "error") %> prohibited this usuario from being saved:</h2>

      <ul>
      <% @usuario.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :so %><br>
    <%= f.text_field :so %>
  </div>
  <div class="field">
    <%= f.label :imagen %><br>
    <%= f.text_field :imagen %>
    <%= f.file_field :imagen %>
  </div>
  <div class="field">
    <%= f.label :caracteristicas %><br>
    <%= f.text_area :caracteristicas %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
